nav {
  font-family: Helvetica, sans-serif;
}

img {
    overflow:hidden;
    width: 100%;
}

footer {
    text-align: center;
    padding: 1em 0;
    clear: both;
}

ul {
    list-style: none;
    margin: 10px;
}

.interchangeable {
    width: 300px;
    padding: 10px;
    margin: 0 10px;
    float: left;
}

p {
  margin: 10px;
  padding: 5px;
}

article {
  width: 500px;
  margin: 10px auto;
  border: 2px solid black;
  padding: 10px;
}

#contact {
    display: block;
}

#overview {
    float: left;
}

#solo {
    max-width: 400px;
    display: block;
}

li {
    float: left;
    width: 20%;
    height: 2em;
}