@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Calistoga|Playfair+Display&display=swap');

img {
	width: 500px;
}

h1 {
	font-family: 'Playfair Display', 'Arial', sans-serif;
}

h2 {
	font-family: 'Playfair Display', 'Arial', sans-serif;
}

h3 {
	font-family: 'Playfair Display', 'Arial', sans-serif;
}

h4 {
	font-family: 'Playfair Display', 'Arial', sans-serif;
}

p {
	font-family: 'Playfair Display', 'Arial', sans-serif;
	line-height: 1.5em;
	width: 30em;
	margin:1em auto;
	text-align: center;
}
body {
	background-color: #D1E8E3;
	text-align: center;
}
ul {
	text-align: center;
	list-style: none;
}
hr {
	border: none;
	height: 3px;
	width: 3em;
}