@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

img {
	width: 500px;
}

h1 {
	font-family: 'Playfair Display', 'Arial', sans-serif;
}

h2 {
	font-family: 'Playfair Display', 'Arial', sans-serif;
}

h3 {
	font-family: 'Playfair Display', 'Arial', sans-serif;
}

h4 {
	font-family: 'Playfair Display', 'Arial', sans-serif;
}

p {
	font-family: 'Playfair Display', 'Arial', sans-serif;
}