header{
  padding:0 200px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  word-spacing: 9px;
}

nav{
  margin:auto;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Allerta', sans-serif;
  letter-spacing: 2px;
  padding:0 32px;
}

#solo {
    max-width: 15%;
    display: block;
    float: right;
}

.intro {
    text-align: center;
}

.Travel {
    text-transform: uppercase;
}

ul {
    list-style: none;
    margin: 10px;
}

.interchangeable {
    float: left;
}

img {
    overflow:hidden;
    width: 100%;
}

article {
  width: 30%;
  margin: 10px auto;
  border: 2px solid black;
  padding: 10px;
}

p {
  margin: 10px;
  padding: 5px;
}

#contact {
    display: block;
}

#overview {
    float: left;
    font-family: 'Allerta', sans-serif;
    display: block;
}

li {
    float: left;
    width: 20%;
    height: 2em;
}

#two_column {
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 50%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

footer {
    text-align: center;
    padding: 1em 0;
    clear: both;
}

@media screen and (max-width:1000px){
  .interchangeable{
    width:100%;
    float:none;
    height: auto;
  }
}

  @media screen and (max-width:1645px){
  .interchangeable{
    width:48%;
    height: 651px;
  }
}

@media screen and (max-width:1220px){
  header{
    padding:0 10%;
  }

  .interchangeable{
    height: 560px;
  }
}

@media screen and (max-width:750px){
  h1{
    margin:40px 0 0;
  }

  header{
    padding:0 2%;
  }
}
