body {
	text-align: center;
	background: "images/cuba.jpg";
	background-size: contain;
	color: #BED5FF;
	font-family: Arial;
}
h1 {
	text-align: center;
	color: #A4A2E8;
}
ul {
	text-align: center;
	color: #A4A2E8
}